body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

p {
    line-height: 1.5;
}

.navbar {
    background-color: #2C3E50;
    overflow: hidden;
    padding: 20px 10px;
    position: relative;
    width: 100%;
    top: 0;
    transition: 1s;
    z-index: 99; 
}

.fixed {
    position:fixed;
}
.navbar-brand, .navbar-nav a {
    color: white !important;
}

.navbar-brand:hover, .navbar-nav a:hover {
    color: #F4D03F !important;
}
